@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blanco: #F2EEEB;
    --negro: #022601;
    --negro-activo: #251312;
    --crema: #dfcdb0;
    --verde-claro: #9BA649;
    --verde-oscuro: #6b7239;
    --marron: #403332;
    --color-sombra: rgba(0, 0, 0, 0.5);
    --luz: rgba(255, 255, 255, 0.5);
    --gradiente-negro: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 75%);
    --azul-oscuro: #3c4a5a;
    --azul: #357abd;
    --gris: #ccc;
    --header-altura: 3.5rem;
    --sombra-chica: 0 0.25rem 0.2rem var(--color-sombra);
    --sombra-grande: 0 0 1.25rem var(--color-sombra);

}

html {
    font-size: 16px;
    line-height: 1.25;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--crema);
}

p {
    line-height: 1.5;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

img {
    border-radius: 0.5rem;
}

.material-symbols-outlined {
    user-select: none;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--negro);
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

header div h1 {
    display: flex;
    color: var(--blanco);
    text-align: center;
    padding: 1rem;
    justify-content: center;
    flex: 1;
}

header div #imagenHeder {
    height: 4.5rem;
    display: flex;
}

header nav {
   background-color: var(--verde-claro);
   height: 45px;
   display: flex;
   justify-content: center;
}

header nav input[type=checkbox] {
    display: none;
}

header nav label {
    color: var(--blanco);
    display: none;
}

header nav ul {
    list-style: none;
    display: flex;
    padding-inline-start: 0;

}

header nav ul li {
    display: flex;
    position: relative;
}

header nav ul li a {
    display: flex;
    padding: 14px 20px;
    color: var(--marron);
    text-decoration: none;
    transition: 0.25s all;
    /* tipografia negrita */
    font-weight: bold;
    border-bottom: 0.25rem transparent solid;
}

header nav ul li a:hover {
    background-color: var(--verde-oscuro);
}

header nav ul li a.activo {
    border-color: var(--negro);
    /*no registra eventos como el hover o click*/
    pointer-events: none;
    color: var(--negro-activo);
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    justify-content: center;
    gap: 1rem;
}

main h2 {
    text-align: center;
}

.mapa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    border: var(--negro) solid 0.25rem;
    border-radius: 1rem;
    /* oculta lo que sobresale del contenedor en este caso las esquinas de la imagen */
    overflow: hidden;
}

.mapa iframe {
    width: 100%;
}

.mapa p {
    padding: 1.5rem;
    justify-content: center;    
}

.carousel {
    border: 0.25rem solid black;
    position:relative;
    width:100%;
    max-width:920px;
    height:520px;
    margin:20px auto;
    border-radius:16px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.6);
}

.slides {
    display:flex;
    height:100%;transition:
    transform .7s cubic-bezier(.2,.9,.3,1);
    touch-action:pan-y;
}

.slide {
    min-width:100%;
    height:100%;
    background-size:cover;
    background-position:center;
    position:relative;
    display:flex;
    align-items:flex-end;
}

.overlay {
    position:absolute;
    inset:0;
    background:linear-gradient(to right, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 60%, rgba(0,0,0,0) 100%);
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    padding:30px;
    color: var(--blanco);
    max-width: 300px;
}

.slide-title {
    font-size:clamp(1.2rem,2.2vw,1.8rem);
    font-weight:700;
    margin-bottom:8px;
    text-align:left;
}

.slide-text {
    font-size:clamp(.95rem,1.5vw,1.05rem);
    max-width:420px;
    text-align:left;
    line-height:1.4;
}

.indicators {
    position:absolute;
    bottom:18px;right:18px;
    display:flex;
    gap:6px;
    z-index:10;
    cursor: pointer;
}

.bar {
    width:30px;
    height:5px;
    background:rgba(255,255,255,0.35);
    border-radius:3px;transition:all .25s ease;
}

.bar.active {
    background:rgba(255,255,255,0.95);
    transform:scaleY(1.1);
}

.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    width: 0;
    background-color: var(--verde-oscuro);
    z-index: 9999;
    transition: width 2s ease-in-out;
}

.loading-bar.active {
    width: 100%;
}

#imagenes-s {
    display: flex;
    gap: 0;
    width: 100%;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

#imagenes-s figure {
    width: 16.6666666666%;
    height: 10rem;
}

#imagenes-s img {
    height: 100%;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
}

footer {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--negro);
    border: var(--marron) solid 0.25rem;
    color: var(--blanco);
    gap: 1rem;
}

footer section {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

footer section:nth-child(2) {
    margin: 0 auto;
}

footer section ul {
    display: flex;
    gap: 1rem;
    padding-inline-start: 0;
    list-style: none;
    margin: 0;
}

footer section ul li {
    display: flex;
    gap: 1rem;
}

footer section ul li a {
    display: flex;
}

footer section nav ul li:not(:last-child)::after {
    content: "|";
    color: var(--blanco);
    opacity: 0.25;
}

footer a {
    text-decoration: none;
    color: var(--blanco);
}

#logoFotter {
    height: 3rem;
    transition: all 0.25s ease;
    box-shadow: unset;
}

#logoFotter:hover {
    transform: scale(1.05);
}

#contactos-pag {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    gap: 2rem;
    background-color: var(--marron);
    border-radius: 1.5rem;
    padding: 2rem;
    box-shadow: var(--sombra-grande);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden; /* evita que nada se salga del óvalo */
    border: var(--verde-oscuro) 0.25rem solid;
}

.form-container h2 {
    padding: 0;
    color: var(--blanco);
    text-align: center;
}

form {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
}

label {
    font-weight: bold;
    color: var(--blanco);
}

input, textarea {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid var(--gris);
    font-size: 0.875rem;
    box-sizing: border-box;
}

.terms {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    gap: 0.75rem;
}

.terms a {
    color: inherit;
}

.term {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.term a:hover {
    background-color: var(--verde-oscuro);
    border-radius: 0.25rem;
}

.term p {
    max-width: 45rem;
}

button {
    width: 100%;
    padding: 0.625rem;
    background-color: var(--azul-oscuro);
    color: var(--blanco);
    border: none;
    border-radius: 0.625rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: var(--azul);
}

.galeria {
    padding: 2.5rem 7rem;
    background-color: var(--crema);
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 3rem; 
    justify-items: center;
}

#grid-container .tarjeta {
    perspective: 800px;
    perspective-origin: center;
    position: relative;
    width: 20rem;
    height: 18rem;
    transition: all 0.25s ease;
}

#grid-container .tarjeta:hover {
    transform: scale(1.05);
}

#grid-container .tarjeta * {
    pointer-events: none;
}

#grid-container .tarjeta .interno {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: var(--sombra-chica);
    transform-style: preserve-3d;
    transition: all 1s ease;
    position: relative;
}

#grid-container .tarjeta.activa .interno {
    transform: rotate3d(0, 1, 0, 180deg)
}

#grid-container .tarjeta .interno figure,
#grid-container .tarjeta .interno p {
    display: flex;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

#grid-container .tarjeta .interno p {
    padding: 1rem;
    transform: rotate3d(0, 1, 0, 180deg);
    background-color: var(--verde-oscuro);
    color: var(--crema);
}

#grid-container .tarjeta .interno figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#grid-container .tarjeta .interno figure figcaption {
    display: flex;
    position: absolute;
    border-radius: 0.125rem;
    bottom: 0.25rem;
    left: 0.25rem;
    right: 0.25rem;
    color: var(--crema);
    padding: 0.25rem;
    background-color: var(--color-sombra);
    backdrop-filter: blur(0.25rem);
}

.header h2 {
    padding-top: 1.5rem;
    font-size: 2.5rem;
}

.header h2+p {
    padding: 1rem;
    max-width: 45rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--crema);
}

@media(max-width:480px){.carousel{height:360px}.slide-text{max-width:90%}}

@media (max-width: 780px) {

    html {
        font-size: 14px;
    }

    header {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        height: var(--header-altura);
    }

    header div {
        display: flex;
        justify-content: center;
    }

    header div h1 {
        flex: 1;
        font-size: 2rem;
    }

    header div #imagenHeder {
        display: flex;
        height: 3rem;
    }

    header nav {
        align-items: center;
        background-color: unset;
    }

    header nav label {
        display: flex;
    }

    header nav input[type=checkbox]:not(:checked)+ul {
        display: none;
    }

    header nav ul {
        min-width: 30vw;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        background-color: var(--verde-claro);
        height: 100dvh;
        align-items: stretch;
        z-index: 2;
        animation: menu 1s ease;
    }

    @keyframes menu {
        from {
            transform: translateX(-30vw);
        }
        to {
            transform: translateX(0);
        }
    }

    header nav ul li {
        justify-content: stretch;
    }

    header nav ul li.close {
        height: var(--header-altura);
        align-items: center;
    }
    
    header nav ul li.close label span { 
        color: var(--negro);
     }

    header nav ul li a {
        flex: 1;
        border-bottom: unset;
        border-left: 0.5rem transparent solid;
    }

    header nav ul li a.activo {
    border-color: var(--negro);
}

    .carousel {
        height:420px
    }
    
    .overlay {
        padding:18px
    }
    
    .indicators {
        bottom:12px;
        right:12px
    }
    .form-container {
        background-color: transparent;
        border: none;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
        height: auto;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Acomoda el formulario dentro */
    #contactos-pag {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    form {
        background-color: var(--marron);
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: var(--sombra-chica);
    }

    .form-container h2 {
        color: var(--verde-oscuro);
    }

    form label {
        color: var(--verde-oscuro);
    }

    .galeria {
        padding: 0.75rem;
    }

    .mapa {
        width: unset;
        grid-template-columns: 1fr;
        border-radius: unset;
        border: none;
    }

    .carousel {
        border: none;
        border-radius: unset;
        box-shadow: none;
    }

    #imagenes-s {
        display: none;
    }
}

@media (max-width: 480px) {
    header div h1 {
        font-size: 1.5rem;
    }
}



#galeria-excursiones {
    width: 100vw;
    overflow: hidden;
    display: flex;
}

#container {
    display: flex;
    gap: 1rem;
    padding: 5rem;
    justify-items: center;
    transition: all 1s ease;
}

.excursion {
    display: flex;
    flex-direction: column;
    flex: 0 0 24rem;
    background-color: var(--crema);
    border-radius: 1.5rem;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    gap: 1rem;
}

.excursion img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.excursion h3 {
    color: var(--marron);
}

.excursion p {
    flex: 1;
    color: var(--negro);
}

.info {
    background-color: var(--verde-claro);
    padding: 0.8rem;
}

.info a {
    color: var(--crema);
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
}


.excursion.activa {
    z-index: 1;
    width: 26rem;          
    transform: scale(1.2);
    border: 0.2rem solid var(--verde-claro); 
}


#grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "parraf foto1"
        "foto2 foto3"
        "parraf1 foto4";
    gap: 1rem;
    align-items: center;
    justify-items: center;
    padding: 5rem 15rem;
    background-color: var(--crema);
}

.parrafo {
     grid-area: parraf; }
.parrafo1 {
     grid-area: parraf1; 
    }
.foto1 {
     grid-area: foto1;
     }
.foto2 {
     grid-area: foto2;
     }
.foto3 { 
    grid-area: foto3;
 }
.foto4 { 
    grid-area: foto4; 
}
.foto5 { 
    grid-area: foto5;
}
.foto6 { 
    grid-area: foto6; 
}
.fotoextra { 
    width: 100%;
    padding: 4rem;
    height: 64rem;
    Text-align: center;
}


.parrafo p, .parrafo1 p {
    font-size: 1.1rem;
    padding: 10rem;
    color: var(--negro);
    text-align: justify;
}

.parrafo3{
    font-size: 1.5rem;   
    padding-left: 9rem;
    padding-right: 9rem;
    padding-top: 2.5rem;
    color: var(--negro);
    text-align: justify;
}



#grid-container2 img {
    width: 100%;
    max-width: 120rem;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
   
}

#grid-container3 img {
    width: 100%;
    max-width: 120rem;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
   
}

#grid-container3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "foto1 parraf"
        "foto2 parraf"
        "foto3 foto3"
        "parraf1 foto4";
    gap: 1rem;
    align-items: center;
    justify-items: center;
    padding: 5rem 15rem;
    background-color: var(--crema);
}



#grid-container4 {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "foto1 foto2 parraf"
        "foto3 foto4 parraf";
    gap: 1rem;
    align-items: center;
    justify-items: center;
    padding: 5rem 15rem;
    background-color: var(--crema);
}

.excur{
    padding: 2rem;
    font-weight: bold;
    text-decoration: underline;
}
  

#grid-container5 img {
    width: 100%;
    max-width: 120rem; 
    height: auto; 
    border-radius: 1rem; 
    object-fit: cover;
 }

.foto6 {
    margin-top: -1rem;        
    align-self: start;   
}
.foto5 {
    margin-bottom: -4rem;  
    margin-top: 8rem;              
}


#grid-container5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
        "foto1 parraf"
        "foto2 foto3"
        "foto4 foto4"
        "parraf1 foto5"
        "parraf1 foto6 ";
    gap: 1rem;
    align-items: center;
    justify-items: center;
    padding: 2rem 15rem;
    background-color: var(--crema);
}

#grid-container6 img {
    width: 100%;
    max-width: 120rem; 
    height: auto; 
    border-radius: 1rem; 
    object-fit: cover;
 }

#grid-container6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "foto1 parraf"
        "foto2 foto3"
        "parraf1 foto4";
    gap: 1rem;
    align-items: center;
    justify-items: center;
    padding: 2rem 15rem;
    background-color: var(--crema);
}
#grid-container7 img {
    width: 100%;
    max-width: 120rem; 
    height: auto; 
    border-radius: 1rem; 
    object-fit: cover;
 }

#grid-container7 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto ;
    grid-template-areas: 
        "parraf parraf1"
        "foto1 foto2";
    gap: 1rem;
    align-items: center;
    justify-items: center;
    padding: 2rem 15rem;
    background-color: var(--crema);
}

.paginador {
    display: flex;
    gap: 0.75rem;
}